.body-div{
    background-color: lightslategrey;
    position: relative;
    padding: 15px;
}

.app-div{
    font-family: 'Times New Roman', Times, serif;
}

.header-row{
    padding: 15px;
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.application-row{
    padding: 10px;
}

.item-div{
    padding: 20px;
}