body{
    position: relative;
}

.app-div{
    background-color: lightskyblue;
    font-family: 'Times New Roman', Times, serif;
    
}

.header-row{
    padding: 15px;
}

.application-row{
    padding: 10px;
}

.item-div{
    padding: 20px;
}